PORT=5001
CORS_ORIGIN=*

# OIDC Identity Provider Details
OIDC_JWKS_URI=https://auth.patternmaster.com/.well-known/jwks.json
OIDC_AUDIENCE=patternmaster-api
OIDC_ISSUER=https://auth.patternmaster.com/
